/*
	*Main CSS para implementacion directa de sitios.
	
	*La adaptacion del bolierplate y este codigo son esfuerzo del eqipo de ID.A libre
	*con agradecimientos especiales a Juan Palma encargado de la implementacion.
*/

/* ==========================================================================
	Parametros Globales
========================================================================== */
/* @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); */
/* font-family: 'Sen', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap'); */
/* font-family: 'League Spartan', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap'); */
/* font-family: 'Barlow Condensed', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300;1,700&display=swap'); */
/* font-family: 'Cormorant Garamond', serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
	--colorBackDark: #000000;
	--colorBackColor: #393735;
	--colorPrincipal: #4200df;
	--colorSecundario: #00e7ff;
	--colorTexto: var(--colorBackColor);
	--margenGlobal: 6vw;
	--anchoContainer: calc(100vw - (var(--margenGlobal) * 2));
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', sans-serif;
	font-weight: 900;
}
body, button, input, select, textarea, ::after, ::before{
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	line-height: 1.24;
	letter-spacing: 0.05em;
	color: var(--colorTexto);
}
i::before{
	font-family: inherit;
	font-weight: inherit;
}
.container{
	width: var(--anchoContainer);
}
.anchoFull{
	width: 100vw;
	position: relative;
	margin-left: calc(var(--margenGlobal) * -1);
}
.anchoFullFlex{
	width: 100vw;
	position: relative;
}
	
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}

@viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}


/* ==========================================================================
	Estilos visiales para elementos GENERALES
========================================================================== */
.desaparece{
	display: none !important;
	visibility: hidden !important;
	width: 1px !important;
	height: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	opacity: 0 !important;
	clip: rect(1px 1px 1px 1px) !important;
	
}
.ocultar{
	display: none !important;
}
.opacidad0{
	opacity: 0 !important;
}
.opacidad1{
	opacity: 1 !important;
}
.animar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.animar1-4{
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
	-o-transition: all 1.4s ease-in-out;
	-ms-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
}
.colorPrincipal{
	color: var(--colorPrincipal) !important;
}
.colorBackColor{
	color: var(--colorBackColor) !important;
}
p {
	margin-bottom: 1.4em;
}
p:last-of-type {
	margin-bottom: 0;
}







/* ==========================================================================
	Estilos visiales de la ventana pop de avisos
========================================================================== */
div#ventanaPOP {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 84%);
	z-index: 99999999;
	transition: all 200ms ease-in-out;
}
	#ventanaPOP .ventanaCerrar {
		width: 28px;
		height: 28px;
		position: absolute;
		top: 18px;
		left: auto;
		right: 18px;
		background: darkred;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		line-height: 0;
		border-radius: 4px;
		padding-bottom: 2px;
		cursor: pointer;
		font-weight: 900;
		transition: all 200ms ease-in-out;
	}
	#ventanaPOP .ventanaCerrar:hover{
		background-color: orangered;
	}
	#ventanaPOP .mensajeBox {
		max-width: 86%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;
		background: #fff;
		border: 8px solid #555;
		border-radius: 30px;
		font-size: 120%;
		transition: all 200ms ease-in-out;
	}
		#ventanaPOP button {
			appearance: none;
			padding: 6px 24px;
			margin: 24px 0 0;
			border: 0;
			border-radius: 6px;
			background-color: #444;
			color: #fff;
			cursor: pointer;
			transition: all 200ms ease-in-out;
		}
		#ventanaPOP .mensajeBox button:hover{
			background-color: #000 !important;
		}
		div#ventanaPOP .mensajeBox i:before {
			font-size: 360%;
			margin-bottom: 30px;
			display: block;
		}



	div#ventanaPOP.ok .mensajeBox i:before{
		color: #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox{
		border: 8px solid #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox button{
		background-color: #1ba902;
	}

	div#ventanaPOP.alert .mensajeBox i:before{
		color: #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox{
		border: 8px solid #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox button{
		background-color: #ddaa01;
	}

	div#ventanaPOP.error .mensajeBox i:before{
		color: #b42b08;
	}
	div#ventanaPOP.error .mensajeBox{
		border: 8px solid #b42b08;
	}
	div#ventanaPOP.error .mensajeBox button{
		background-color: #b42b08;
	}
















/* ==========================================================================
	Estilos visiales del sitio.
========================================================================== */
.azulClaro{
	color: var(--colorSecundario);
}
.noRomperTexto{
	white-space: nowrap;
}
#fondo_body{
	background : var(--colorBackDark);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

	div#boxConstruccion {
		width: 100dvw;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		#fondoConstruccion {
			width: 100%;
			height: 100vh;
			position: absolute;
			left: 0px;
			top: 0px;
			display: flex;
		}
			picture#fondoConstruccion img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		main#mainConstruccion {
			position: relative;
			color: white;
			text-align: center;
			display: flex;
			flex-direction: column;
		}
			main#mainConstruccion > div:first-child {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				margin-bottom: 20dvh;
			}
				main#mainConstruccion > div:first-child > span {
					display: block;
				}
				main#mainConstruccion > div:first-child > span:first-child {
					font-size: 134%;
				}
				main#mainConstruccion > div:first-child > span:last-child {
					font-family: 'Playfair Display';
					font-size: 240%;
					color: #00ecff;
					font-weight: 900;
				}

			div#redes {
				display: flex;
				flex-direction: column;
				padding: 20px 0px;
				grid-gap: 11px;
			}
				div#redes img {
					width: 32px;
					height: auto;
				}



	#pantallaBox{
		width: 100vw;
		/* height: 300vh; */
	}
		#pantalla1, #pantalla2, #pantalla3 {
			width: 100%;
			min-height: 100lvh;
			position: relative;
			will-change: transform, opacity;
		}
		#pantalla2, #pantalla3 {
			/* display: none; */
		}

		#pantalla1{
			background-color: #000000;
			z-index: 1;
			justify-content: center;
			align-items: center;
		}
			#pantalla1 .fondo {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0px;
    			left: 0px;
    			z-index: 0;
			}
				#pantalla1 .fondo img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			#pantalla1 .boxInfo {
				position: relative;
				width: 100%;
				max-width: 1100px;
				height: 100%;
				padding: min(6vw, 56px) 8vw;
				display: flex;
				flex-direction: column;
				justify-content: center;
				grid-gap: 6dvh;
			}
				#pantalla1 .intro {
					width: 46%;
					padding: 1vw 3vw;
					display: flex;
					flex-direction: column;
					grid-gap: 30px;
					border: 2px solid var(--colorPrincipal);
					border-radius: 32px;
					color: white;
					background-color: rgba(0, 0, 0, 0.3);
				}
					#pantalla1 .intro h1 {
						color: var(--colorPrincipal);
						font-size: clamp(20px, 1vw + 2rem, 84px);
						line-height: 1;
					}
					#pantalla1 .lista ul {
						list-style: disc;
						font-size: 120%;
						width: 78%;
						line-height: 1.6;
						padding-left: 20px;
					}
					#pantalla1 .intro button {
						aspect-ratio: 1;
						width: 60px;
						font-size: 160%;
						background-color: var(--colorSecundario);
						appearance: none;
						border: 0px none transparent;
						border-radius: 50%;
						cursor: pointer;
						margin-bottom: 34px;
						box-shadow: 0px 0px 0px 4px rgba(0,231,255,1);
						display: flex;
						justify-content: center;
						align-items: center;
						line-height: 0;
						word-spacing: 0;
						letter-spacing: 0;
					}
					@keyframes pulsar {
						0% {
							box-shadow: 0px 0px 0px 4px rgba(0,231,255,1);
						}
						50% {
							box-shadow: 0px 0px 30px 4px rgba(0,231,255,1);
						}
						100% {
							box-shadow: 0px 0px 0px 4px rgba(0,231,255,1);
						}
					}
					#pantalla1 .intro button:hover{
						animation: pulsar 1.8s ease-in-out 0ms infinite;
					}
					#pantalla1 .intro button.mobileAnimado{
						animation: pulsar 1.8s ease-in-out 0ms infinite;
					}
				#pantalla1 .graficas {
					position: relative;
					width: 100%;
					display: flex;
					grid-gap: 28px;
					justify-content: space-between;
				}
					#pantalla1 .graficas .grafica {
						flex: 1 1 33.33%;
						padding: 2vw;
						background-color: rgba(58,33,234,0.3);
						border-radius: 24px;
						color: white;
						text-align: center;
					}
						#pantalla1 .graficas .grafica .titulo {
							font-size: clamp(28px, 5vw + 1rem, 162px);
							font-family: 'Playfair Display';
							font-weight: 900;
						}
		#pantalla2{
			background-color: var(--colorPrincipal);
			z-index: 0;
			/* transform: translateY(-100%); */
		}
		#pantalla3{
			background-color: #000;
			z-index: 2;
			/* transform: translateY(-200%); */
		}
			#pantalla3 .frase{
				transform: translateX(-100vw);
				will-change: transform, opacity;
				color: var(--colorPrincipal);
			}
		.pantallas {
			display: flex;
			align-items: center;
			overflow: hidden;
		}
			.pantallas .frase {
				padding-left: 7vw;
				color: white;
				font-size: clamp(28px, 5vw + 1rem, 122px);
				font-weight: 900;
				font-family: 'Mulish';
			}

	.contenido {
		width: 100%;
		height: 200vh;
		position: relative;
		z-index: 3;
	}




















/* ==========================================================================
	Estilos para un espect ratio de 2:1
========================================================================== */
@media (min-aspect-ratio: 2/1) {
	
}

/* ==========================================================================
	Estilos para un espect ratio de 8:5
========================================================================== */
@media (min-aspect-ratio: 8/5) {
	
}






/* ==========================================================================
	Estilos para un especto de pie
========================================================================== */
@media screen and (orientation:portrait){
	:root{
		--margenGlobal: 8vw;
	}
	.onlyLanscape{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}


	
}
/* ==========================================================================
	Estilos para un especto de pie pero en dispositivos pequeños
========================================================================== */
@media screen and (orientation:portrait) and (max-width: 680px){
	
}







/* ==========================================================================
	Estilos para un especto de acostado
========================================================================== */
@media screen and (orientation:landscape){
	.onlyPortrait{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}	
}
/* ==========================================================================
	Estilos para un especto acostado pero en dispositivos medianos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 980px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 860px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 720px){
	
}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos muy chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-height: 460px){

}
















/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1600px) {

}









/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 1280px) {
	#pantalla1 .boxInfo {
		padding: 0px;
	}
}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1024px) {

}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 860px) {
	
}








/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 846px) {
	:root{
		--margenGlobal: 8vw;
	}

	#pantalla1 .boxInfo {
		grid-gap: 3dvh;
		align-items: center;
	}
		#pantalla1 .fondo {
			height: 80vh;
		}
		#pantalla1 .intro {
			width: 100%;
			grid-gap: 20px;
			padding: 0vw 6vw;
		}
			#pantalla1 .intro h1 {
				margin-bottom: 0px;
				font-size: clamp(20px, 4vw + 1rem, 84px);
				color: var(--colorSecundario);
			}
			#pantalla1 .lista ul {
				line-height: 1.2;
				width: 100%;
				font-size: 102%;
			}
			#pantalla1 .graficas {
				flex-wrap: wrap;
				grid-gap: 14px;
			}
			#pantalla1 .graficas .grafica p {
				font-size: 90%;
			}
			#pantalla1 .intro button {
				width: 36px;
			}
}






@media only screen and (max-width: 760px){
	.onlyDesktop{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
}
@media only screen and (min-width: 760px){
	.onlyMobile{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}

	
}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 680px) {
	
}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 590px) {
	
}





/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 480px) {
	
}










/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 370px) {
	
}










