/*
	*Main CSS para implementacion directa de sitios.
	
	*La adaptacion del bolierplate y este codigo son esfuerzo del eqipo de ID.A libre
	*con agradecimientos especiales a Juan Palma encargado de la implementacion.
*/

/* ==========================================================================
	Parametros Globales
========================================================================== */
/* @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); */
/* font-family: 'Sen', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap'); */
/* font-family: 'League Spartan', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap'); */
/* font-family: 'Barlow Condensed', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300;1,700&display=swap'); */
/* font-family: 'Cormorant Garamond', serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
	--colorBackDark: #000000;
	--colorBackColor: #393735;
	--colorPrincipal: #5d29ff;
	--colorSecundario: #00e7ff;
	--colorTexto: #fff;
	--margenGlobal: 6vw;
	--anchoContainer: calc(100vw - (var(--margenGlobal) * 2));
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', sans-serif;
	font-weight: 900;
}
body, button, input, select, textarea, ::after, ::before{
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	line-height: 1.24;
	letter-spacing: 0.05em;
	color: var(--colorTexto);
	font-size: 110%;
}
i::before{
	font-family: inherit;
	font-weight: inherit;
}
.container{
	width: var(--anchoContainer);
}
.anchoFull{
	width: 100vw;
	position: relative;
	margin-left: calc(var(--margenGlobal) * -1);
}
.anchoFullFlex{
	width: 100vw;
	position: relative;
}
	
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}

@viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}


/* ==========================================================================
	Estilos visiales para elementos GENERALES
========================================================================== */
.desaparece{
	display: none !important;
	visibility: hidden !important;
	width: 1px !important;
	height: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	opacity: 0 !important;
	clip: rect(1px 1px 1px 1px) !important;
	
}
.ocultar{
	display: none !important;
}
.opacidad0{
	opacity: 0 !important;
}
.opacidad1{
	opacity: 1 !important;
}
.animar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.animar1-4{
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
	-o-transition: all 1.4s ease-in-out;
	-ms-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
}
.colorPrincipal{
	color: var(--colorPrincipal) !important;
}
.colorBackColor{
	color: var(--colorBackColor) !important;
}
p {
	margin-bottom: 1.4em;
}
p:last-of-type {
	margin-bottom: 0;
}



/* Animacion icono redes cociales */
.hi-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;
    color: #fff;
	font-size: 54px;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}


/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px var(--colorPrincipal);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: var(--colorPrincipal);
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 1b */
.hi-icon-effect-1b .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: var(--colorPrincipal);
}

.hi-icon-effect-1b .hi-icon:after {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.hi-icon-effect-1b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}






/* ==========================================================================
	Estilos visiales de la ventana pop de avisos
========================================================================== */
div#ventanaPOP {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 84%);
	z-index: 99999999;
	transition: all 200ms ease-in-out;
}
	#ventanaPOP .ventanaCerrar {
		width: 28px;
		height: 28px;
		position: absolute;
		top: 18px;
		left: auto;
		right: 18px;
		background: darkred;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		line-height: 0;
		border-radius: 4px;
		padding-bottom: 2px;
		cursor: pointer;
		font-weight: 900;
		transition: all 200ms ease-in-out;
	}
	#ventanaPOP .ventanaCerrar:hover{
		background-color: orangered;
	}
	#ventanaPOP .mensajeBox {
		max-width: 86%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;
		background: #fff;
		border: 8px solid #555;
		border-radius: 30px;
		font-size: 120%;
		transition: all 200ms ease-in-out;
	}
		#ventanaPOP button {
			appearance: none;
			padding: 6px 24px;
			margin: 24px 0 0;
			border: 0;
			border-radius: 6px;
			background-color: #444;
			color: #fff;
			cursor: pointer;
			transition: all 200ms ease-in-out;
		}
		#ventanaPOP .mensajeBox button:hover{
			background-color: #000 !important;
		}
		div#ventanaPOP .mensajeBox i:before {
			font-size: 360%;
			margin-bottom: 30px;
			display: block;
		}



	div#ventanaPOP.ok .mensajeBox i:before{
		color: #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox{
		border: 8px solid #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox button{
		background-color: #1ba902;
	}

	div#ventanaPOP.alert .mensajeBox i:before{
		color: #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox{
		border: 8px solid #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox button{
		background-color: #ddaa01;
	}

	div#ventanaPOP.error .mensajeBox i:before{
		color: #b42b08;
	}
	div#ventanaPOP.error .mensajeBox{
		border: 8px solid #b42b08;
	}
	div#ventanaPOP.error .mensajeBox button{
		background-color: #b42b08;
	}
















/* ==========================================================================
	Estilos visiales del sitio.
========================================================================== */

.noRomperTexto{
	white-space: nowrap;
}
#fondo_body{
	background : var(--colorBackDark);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

	div#boxConstruccion {
		width: 100dvw;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		#fondoConstruccion {
			width: 100%;
			height: 100vh;
			position: absolute;
			left: 0px;
			top: 0px;
			display: flex;
		}
			picture#fondoConstruccion img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		main#mainConstruccion {
			position: relative;
			color: white;
			text-align: center;
			display: flex;
			flex-direction: column;
		}
			main#mainConstruccion > div:first-child {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				margin-bottom: 20dvh;
			}
				main#mainConstruccion > div:first-child > span {
					display: block;
				}
				main#mainConstruccion > div:first-child > span:first-child {
					font-size: 134%;
				}
				main#mainConstruccion > div:first-child > span:last-child {
					font-family: 'Playfair Display';
					font-size: 240%;
					color: #00ecff;
					font-weight: 900;
				}

			div#redes {
				display: flex;
				flex-direction: column;
				padding: 20px 0px;
				grid-gap: 11px;
			}
				div#redes img {
					width: 32px;
					height: auto;
				}






	








	nav {
		width: 100%;
		position: fixed;
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 8999;
		background-color: #00000066;
	}
		nav .boxWrap {
			padding: 16px var(--margenGlobal);
			width: 100%;
			max-width: 100%;
		}
			nav .boxWrap .capsula {
				width: 100%;
				height: 100%;
				flex-direction: row;
				justify-content: space-between;
				grid-gap: 38px;
			}
				nav .boxWrap .capsula > div {
					flex-grow: 1;
					flex-shrink: 1;
				}
				#logotipo {
					flex-basis: inherit;
					flex-grow: 0;
					width: 162px;
				}
				#redesG {
					flex-basis: fit-content;
					flex-grow: 0;
				}
					nav .hi-icon {
						width: 54px;
						height: auto;
						aspect-ratio: 1;
					}
						nav .redesMain .svg-inline--fa {
							height: 0.7em;
						}
				#navs {
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}
					#navs .nav ul {
						display: flex;
						grid-gap: 28px;
					}
					#navs .nav ul li{
						cursor: pointer;

						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
					}
					#navs .nav ul li:hover{
						color: var(--colorSecundario);
					}

		ul#menuBox {
			display: flex;
			justify-content: flex-end;
			grid-gap: 40px;
		}
			div#logo {
				height: 52px;
			}
				div#logo img {
					width: auto;
					height: 100%;
				}

			ul#menuBox li {
				font-size: 120%;
				font-weight: 500;
				color: #fff;
				cursor: pointer;

				transition: all 200ms ease-in-out;
			}
			ul#menuBox li:hover{
				color: var(--colorSecundario);
			}

			div#menuMobileBox {
				width: 80vw;
				height: 100vh;
				position: fixed;
				top: 0px;
				right: -80vw;
				background-color: #00e7ffee;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: flex-end;
				flex-wrap: wrap;
				padding: 8vw;
				grid-gap: 32px;
				color: black;

				-webkit-transition: right 0.35s, -webkit-transform 0.35s;
				transition: right 0.35s, transform 0.35s;
			}
			#menuBoxMobile.activo div#menuMobileBox{
				right: 0vw;
			}
			div#menuMobileBox a{
				color: #fff;
			}
				div#menuMobileBox li {
					width: auto;
					font-weight: 600;
					font-size: clamp(22px, 6vw, 54px);
					padding: 8px 4px 8px 24px;
					text-align: right;

					-webkit-transition: all 0.35s, -webkit-transform 0.35s;
					transition: all 0.35s, transform 0.35s;
				}
				div#menuMobileBox li:hover{

				}
			div#menuMobileBtn {
				position: relative;
				z-index: 8000;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 28px;
			}
			#menuBoxMobile.activo div#menuMobileBtn {
				color: #fff;
			}
				div#imgClose {
					display: none;
				}
				#menuBoxMobile.activo div#imgClose {
					display: inherit;
				}
				#menuBoxMobile.activo #imgMenuMobile{
					display: none;
				}
				.iconosMobileMenu {
					display: block;
					position: absolute;
				}




	#pantallaBox{
		width: 100vw;
	}
		#pantalla1, #pantalla2, #pantalla3 {
			width: 100%;
			min-height: 100lvh;
			position: relative;
			/* will-change: transform, opacity; */
		}
		#pantalla1{
			background-color: #000000;
			z-index: 1;
			justify-content: center;
			align-items: center;
		}
			#pantalla1 .fondo {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0px;
    			left: 0px;
    			z-index: 0;
			}
				#pantalla1 .fondo img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			#pantalla1 .boxWrap{
				padding: 68px 0px;
			}
			#pantalla1 .boxInfo {
				position: relative;
				width: 100%;
				max-width: 1100px;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				grid-gap: 6dvh;
			}
				#pantalla1 .intro {
					width: 46%;
					padding: 1vw 3vw;
					display: flex;
					flex-direction: column;
					grid-gap: 30px;
					border: 2px solid var(--colorPrincipal);
					border-radius: 32px;
					color: white;
					background-color: rgba(0, 0, 0, 0.3);
				}
					#pantalla1 .intro h1 {
						color: var(--colorPrincipal);
						font-size: clamp(20px, 1vw + 2rem, 44px);
						line-height: 1;
					}
					#pantalla1 .lista ul {
						list-style: disc;
						font-size: 120%;
						width: 78%;
						line-height: 1.6;
						padding-left: 20px;
					}
					#pantalla1 .intro button {
						aspect-ratio: 1;
						width: 60px;
						font-size: 160%;
						color: #000;
						background-color: var(--colorSecundario);
						appearance: none;
						border: 0px none transparent;
						border-radius: 50%;
						cursor: pointer;
						margin-bottom: 34px;
						box-shadow: 0px 0px 0px 4px rgba(0,231,255,1);
						display: flex;
						justify-content: center;
						align-items: center;
						line-height: 0;
						word-spacing: 0;
						letter-spacing: 0;
					}
					@keyframes pulsar {
						0% {
							box-shadow: 0px 0px 0px 4px rgba(0,231,255,1);
						}
						50% {
							box-shadow: 0px 0px 30px 4px rgba(0,231,255,1);
						}
						100% {
							box-shadow: 0px 0px 0px 4px rgba(0,231,255,1);
						}
					}
					#pantalla1 .intro button:hover{
						animation: pulsar 1.8s ease-in-out 0ms infinite;
					}
					#pantalla1 .intro button.mobileAnimado{
						animation: pulsar 1.8s ease-in-out 0ms infinite;
					}
				#pantalla1 .graficas {
					position: relative;
					width: 100%;
					display: flex;
					grid-gap: 28px;
					justify-content: space-between;
				}
					#pantalla1 .graficas .grafica {
						flex: 1 1 33.33%;
						padding: 2vw;
						background-color: rgba(58,33,234,0.3);
						border-radius: 24px;
						color: white;
						text-align: center;
					}
						#pantalla1 .graficas .grafica .titulo {
							font-size: clamp(28px, 5vw + 1rem, 82px);
							font-family: 'Playfair Display';
							font-weight: 900;
						}
		#pantalla2{
			background-color: var(--colorPrincipal);
			z-index: 0;
			position: absolute;
		}
		#pantalla3{
			background-color: #000;
		}
			#pantalla3 .frase{
				position: relative;
				/* transform: translateX(-100vw); */
				left: -100vw;
				/* will-change: transform, opacity; */
				color: var(--colorPrincipal);
			}
		.pantallas {
			display: flex;
			align-items: center;
			overflow: hidden;
		}
			.pantallas .frase {
				padding-left: 7vw;
				color: white;
				font-size: clamp(28px, 4.2vw + 1rem, 122px);
				font-weight: 900;
				font-family: 'Playfair Display';
			}




	#pantallaG{
		position:relative;
	}
	#pantallaG, #pantalla3Box{
		width:100%;
		overflow-x:hidden;
	}
	#pantalla2, #pantalla3, #pantalla3Box, #pantallaExtra{
		width:100%;
		height:100vh;
		position: relative;
	}
	#pantalla1{
		width:100%;
		position: relative;
		z-index:3;
	}
	#pantalla2{
		position:absolute;
		top:0px;
		z-index:1;
	}
	#pantalla3Box{
		position:absolute;
		top:0px;
		z-index:2;
	}
		#pantalla3{
			/* transform: translateX(100%); */
			right: -100vw;
		}

	
	
	
	
	/* Elementos generales del sitio */
	figure{
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
	}
		figure picture {
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
		}
			figure picture img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
	.boxSeccion {
		width: 100%;
		max-width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
		.boxWrap {
			width: 100%;
			max-width: 1200px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0px 0px 120px;
		}
			.capsula {
				width: calc(100% - (var(--margenGlobal) * 2));
				display: flex;
				flex-direction: column;
				align-items: center;
			}
	.textoT2{
		font-size: 180%;
	}
	.colorP{
		color: var(--colorPrincipal);
	}
	.colorS{
		color: var(--colorSecundario);
	}
	.bold{
		font-weight: 900;
	}
	h2{
		font-size: 180%;
	}
	a {
		text-decoration: none;
		color: inherit;

		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	a:hover{
		color: var(--colorSecundario) !important;
	}
	.centavos {
		font-size: 56%;
		display: inline-flex;
		vertical-align: top;
		margin-top: 4px;
	}
	.circuloChico {
		aspect-ratio: 1;
		width: 36px;
		font-size: 160%;
		color: #000;
		background-color: var(--colorSecundario);
		appearance: none;
		border: 0px none transparent;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: 0px 0px 0px 2px rgba(0,231,255,1);
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;
		word-spacing: 0;
		letter-spacing: 0;
		will-change: box-shadow, opacity;
	}
	@keyframes pulsar2 {
		0% {
			box-shadow: 0px 0px 0px 2px rgba(0,231,255,1);
		}
		50% {
			box-shadow: 0px 0px 20px 2px rgba(0,231,255,1);
		}
		100% {
			box-shadow: 0px 0px 0px 2px rgba(0,231,255,1);
		}
	}
	.circuloChico:hover{
		animation: pulsar2 1.8s ease-in-out 0ms infinite;
	}
	.circuloChico.mobileAnimado{
		animation: pulsar2 1.8s ease-in-out 0ms infinite;
	}




	.contenido {
		width: 100vw;
		max-width: 100vw;
		position: relative;
		z-index: 3;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		margin-top: -100vh;
	}
		#caminoCorrecto{
			text-align: center;
		}
			#caminoCorrecto #cajaFuerte {
				width: 75%;
			}
				#caminoCorrecto #cajaFuerte figure {
					width: 100%;
					position: relative;
   					z-index: 0;
				}
				#caminoCorrecto #cajaFuerte p {
					margin-top: -118px;
					position: relative;
   					z-index: 2;
				}
				#caminoCorrecto .capsula .space {
					width: 40%;
					margin-top: 32px;
				}

		#vendeMas .capsula {
			position: relative;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			margin: 44px 0px;
		}
			#vendeMas .capsula .boxInfo {
				width: 75%;
				max-width: 75%;
				flex: 1 1 75%;
				height: auto;
				position: relative;
				background: rgb(93, 41, 255);
				background: linear-gradient(48deg, rgba(93, 41, 255, 1) -8%, rgba(0, 0, 0, 1) 80%);
				border-radius: 32px;
				padding: 32px 140px 32px 42px;
				display: flex;
				flex-direction: column;
				grid-gap: 22px;
			}
				#vendeMas .capsula .boxInfo > figure {
					width: 18%;
				}
					#vendeMas .capsula .boxInfo h2 {
						font-size: 180%;
						background: linear-gradient(to bottom right, #FFFFFF 22%, #00E7FF 50%, #0058DC 86%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					#vendeMas .capsula .boxInfo h4 {
						font-family: 'Mulish';
						font-weight: 400;
					}
					#vendeMas .capsula .boxInfo p {
						font-weight: 900;
					}
					#vendeMas .capsula .boxInfo .boton {
						width: 48%;
						position: relative;
						background: rgb(0, 231, 255);
						background: linear-gradient(48deg, rgba(93,41,255,1) 5%, rgba(0,231,255,1) 100%);
						padding: 9px 60px 9px 20px;
						border-radius: 16px;
						text-align: right;
						box-shadow: 7px 8px 25px -6px rgba(0,0,0,0.83);
						-webkit-box-shadow: 7px 8px 25px -6px rgba(0,0,0,0.83);
						-moz-box-shadow: 7px 8px 25px -6px rgba(0,0,0,0.83);
						will-change: background;
					}
						#vendeMas .capsula .boxInfo .boton::after {
							content: "";
							position: absolute;
							top: 0px;
							right: 0px;
							width: 62px;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							background-image: url(../img/mayorQue.svg);
							background-position: center;
							background-size: 30%;
						}
			#vendeMas .capsula .boxImg {
				width: 56%;
				max-width: 56%;
				flex: 1 1 56%;
				position: absolute;
				right: -8%;
				height: 100%;
				max-height: 100%;
				display: flex;
				align-items: center;
			}
				#vendeMas .capsula .boxImg figure {
					height: 100%;
					width: 100%;
					display: flex;
				}
					#vendeMas .capsula .boxImg figure picture {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
						#vendeMas .capsula .boxImg figure picture img {
							width: auto;
							height: 148%;
						}

		#simple {
			padding-top: 82px;
		}
			#simple .boxWrap {
				padding-left: calc(34px + 4vw);
			}
				#simple .capsula {
					flex-direction: row;
					grid-gap: 48px;
				}
					#simple .capsula > div {
						flex: 1 1 50%;
					}
					#simple .capsula > .col1 {
						width: 35%;
						max-width: 35%;
					}
						#simple .capsula > .col1 h2 {
							margin-bottom: 34px;
						}
					#simple .capsula > .col2 {
						width: 65%;
						max-width: 65%;
						display: flex;
						flex-direction: column;
						grid-gap: 32px;
					}
						#simple .capsula > .col2 .tarjeta {
							width: 100%;
							position: relative;
							background-color: var(--colorPrincipal);
							padding: 13px 32px;
							display: flex;
							grid-gap: 46px;
							justify-content: space-between;
   							align-items: center;
							border-radius: 24px;
						}
							#simple .capsula > .col2 .tarjeta .valor {
								flex: 0 0 auto;
								width: 80px;
								aspect-ratio: 1;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								font-family: 'Playfair Display';
								font-weight: 900;
								font-size: 310%;
								text-align: center;
							}
								#simple .capsula > .col2 .tarjeta .valor span {
									font-size: 38%;
									font-family: 'Mulish';
									font-weight: 400;
								}

		#marcas .capsula {
			padding: 40px 30px;
		}
			#gMarcas {
				width: 90%;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				grid-gap: 24px;
			}
				#gMarcas .marca {
					width: 20%;
					height: 3.5rem;
					display: block;
					overflow: hidden;
					position: relative;
				}
					#gMarcas .marca figure {
						height: 100%;
						width: 100%;
						position: absolute;
						visibility: hidden;
						will-change: transform, opacity, visibility;
					}
						#gMarcas .marca figure picture {
							width: 100%;
							height: 100%;
							display: block;
						}
							#gMarcas .marca figure picture img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}


		#servicios .capsula {
			grid-gap: 52px;
		}
			#servicios h2 {
				width: 50%;
				align-self: flex-start;
			}
			#servicios .capsula .reticula {
				position: relative;
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				grid-gap: 28px;
			}
				#servicios .capsula .reticula .tarjeta {
					position: relative;
					padding: 28px;
					border-radius: 24px;
					overflow: hidden;
				}
					#servicios .capsula .reticula .tarjeta .fondo {
						width: 100%;
   						height: 100%;
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 0;
					}
						#servicios .capsula .reticula .tarjeta .fondo figure{
							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							-ms-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
							transform: scale(1);

							will-change: transform;
						}
						#servicios .capsula .reticula .tarjeta:hover .fondo figure{
							transform: scale(1.2);
						}
							#servicios .capsula .reticula .tarjeta .fondo figure picture img {
								object-fit: cover;
								object-position: center;
								position: absolute;
								right: -36%;
							}
					#servicios .capsula .reticula .tarjeta .box {
						height: 100%;
						display: grid;
						grid-template-rows: min-content 1fr auto;
						align-items: end;
						position: relative;
   						z-index: 1;
					}
						#servicios .capsula .reticula .tarjeta .box h3 {
							font-size: 160%;
							margin-bottom: 18px;
						}
						#servicios .capsula .reticula .tarjeta .box h4 {
							font-family: 'Mulish';
							font-size: 110%;
							line-height: 1.1;
							margin-bottom: 18px;
							background: linear-gradient(to bottom right, #FFFFFF 7%, #00E7FF 46%, #0058DC 82%);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
				#servicios .capsula .reticula .tarjeta:nth-child(1) {
					grid-column: 1/3;
					background: #000;
					background: linear-gradient(134deg, rgba(93,41,255,1) -22%, rgba(0,0,0,1) 29%);
				}
				#servicios .capsula .reticula .tarjeta:nth-child(2) {
					grid-column: 3/4;
					background-color: var(--colorPrincipal);
				}
				#servicios .capsula .reticula .tarjeta:nth-child(3) {
					grid-column: 4/5;
					grid-row: 1/3;
					background: #000;
					background: linear-gradient(66deg, rgba(93,41,255,1) -76%, rgba(0,0,0,1) 26%);
				}
					#servicios .capsula .reticula .tarjeta:nth-child(3) .fondo figure picture img {
						object-position: 66%;
						position: absolute;
						right: 0%;
					}
					#servicios .capsula .reticula .tarjeta:nth-child(3) .box {
						grid-template-rows: min-content min-content min-content;
						grid-gap: 24px;
					}
					
				#servicios .capsula .reticula .tarjeta:nth-child(4) {
					grid-column: 1/2;
					background-color: var(--colorPrincipal);
				}
				#servicios .capsula .reticula .tarjeta:nth-child(5) {
					grid-column: 2/4;
					background: #000;
					background: linear-gradient(73deg, rgba(93,41,255,1) -56%, rgba(0,0,0,1) 48%);
				}
					#servicios .capsula .reticula .tarjeta:nth-child(1) .box h3,
					#servicios .capsula .reticula .tarjeta:nth-child(5) .box h3 {
						width: 68%;
					}
					#servicios .capsula .reticula .tarjeta:nth-child(1) .box p,
					#servicios .capsula .reticula .tarjeta:nth-child(5) .box p {
						width: 78%;
					}
					#servicios .capsula .reticula .tarjeta:nth-child(2) .box p,
					#servicios .capsula .reticula .tarjeta:nth-child(4) .box p {
						font-size: 82%;
						line-height: 1.2;
					}
					#servicios .capsula .reticula .tarjeta:nth-child(1) .box .boxBoton,
					#servicios .capsula .reticula .tarjeta:nth-child(5) .box .boxBoton {
						position: absolute;
						bottom: 14px;
						right: 0px;
					}
					
		#dudas .capsula {
			flex-direction: row;
			justify-content: center;
			align-items: baseline;
			grid-gap: 66px;
			padding: 0px 5vw;
			text-align: center;
		}
			#dudas .capsula .col .icono {
				font-size: 168%;
			}
			#dudas .capsula .col button {
				appearance: none;
				padding: 8px 14px;
				background: rgb(93,41,255);
				background: linear-gradient(37deg, rgba(93,41,255,1) 74%, rgba(0,231,255,1) 100%);
				border: 0px none transparent;
				border-radius: 12px;
				margin-top: 24px;
				cursor: pointer;
				will-change: background, opacity;

				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}

		#gastaMenos .capsula h2, #gastaMenos .capsula h3 {
			width: 50%;
			text-align: center;
			margin-bottom: 32px;
		}
		#gastaMenos .capsula h3 {
			font-family: 'Mulish';
			font-weight: 400;
			font-size: 90%;
		}
		#gastaMenos .capsula .boxG {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}
			#gastaMenos .capsula .boxG .resplandor {
				width: 128%;
				height: 116%;
				position: absolute;
				background: radial-gradient(closest-side, rgba(0,231,255,0.4) -20%, rgba(0,0,0,0) 100%);
				will-change: transform;
			}
			#gastaMenos .capsula .boxG .boxTarjetas {
				width: 100%;
				position: relative;
				display: flex;
				justify-content: space-between;
				grid-gap: 20px;
				padding: 42px 0px 62px;
			}
				#gastaMenos .capsula .boxG .boxTarjetas .tarjeta {
					flex: 1 1 25%;
					padding: 24px 38px;
					text-align: center;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					grid-gap: 32px;
					border-radius: 32px;
					background-color: #000;
				}
					#gastaMenos .capsula .boxG .boxTarjetas .tarjeta .numero {
						font-family: 'Playfair Display';
						font-size: 68px;
						color: var(--colorSecundario);
						font-weight: 900;
						margin-top: -18px;
					}
						#gastaMenos .capsula .boxG .boxTarjetas .tarjeta p {
							font-size: 80%;
						}
			#gastaMenos .capsula > p {
				text-align: center;
				width: 60%;
			}

		#carta .capsula {
			grid-gap: 48px;
		}
			#carta h2 {
				width: 60%;
				text-align: center;
			}
			#carta .boxG {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 26px;
			}
				#carta .boxG .tarjeta:nth-child(1) {
					grid-column: 2/3;
				}
				#carta .boxG .tarjeta:nth-child(2) {
					grid-column: 3/4;
					position: relative;
				}
					#carta .boxG .tarjeta:nth-child(2) figcaption {
						position: absolute;
						top: 0px;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 50px;
						text-align: center;
						color: var(--colorPrincipal);
					}
					#carta .boxG .tarjeta:nth-child(2) .iconos {
						width: 100%;
						position: absolute;
						margin-top: 26px;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						font-size: 160%;
						z-index: 5;
					}

		#despegar .capsula {
			flex-direction: row;
			align-items: center;
			grid-gap: 44px;
			margin-top: 26px;
		}
			#despegar .capsula .col1 {
				flex: 1 1 45%;
			}
				@keyframes hover {
					0% {
					transform: translateX(0px) translateY(-6px) scale(1);
					}
					100% {
					transform: translateX(32px) translateY(-24px) scale(1.1);
					}
				}
				#despegar .capsula .col1 figure {
					transform: translateX(0px) translateY(-6px) scale(1);
					will-change: transform;
					animation: hover 4s infinite ease-in-out alternate;
				}
			#despegar .capsula .col2 {
				flex: 1 1 55%;
				position: relative;
    			z-index: 0;
			}
				#despegar .capsula .col2 h2 {
					margin-bottom: 36px;
					position: relative;
    				z-index: 2;
				}

		#porCierto .capsula {
			grid-gap: 20px;
		}
			#porCierto p {
				margin: 0;
				text-align: center;
			}
			#porCierto p.textT3 {
				font-size: 240%;
				font-weight: 900;
				color: var(--colorPrincipal);
				line-height: 1;
			}


	footer {
		width: 100%;
		overflow: hidden;
	}
		footer .boxWrap {
			padding: calc(111px + 2vh) 0px 54px;
		}
			footer .fondo {
				width: 70%;
				position: absolute;
				display: flex;
				z-index: 0;
			}
			footer .capsula .boxG {
				position: relative;
				width: 100%;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 60px;
			}
				footer .capsula .boxG .col {
					display: grid;
					grid-template-rows: auto;
					grid-gap: 26px;
					align-items: flex-start;
					align-content: flex-start;
				}
					footer .capsula .boxG .col .titulo {
						font-size: 130%;
					}
					footer .capsula .boxG .col:nth-child(1) .titulo, footer .capsula .boxG .col:nth-child(2) .titulo {
						border-bottom: 2px solid;
						padding-bottom: 10px;
					}
					footer .capsula .boxG .col ul {
						display: flex;
						flex-direction: column;
						grid-gap: 24px;
					}
						footer .capsula .boxG .col ul li {
							cursor: pointer;

							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							-ms-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
						}
						footer .capsula .boxG .col ul li:hover{
							color: var(--colorSecundario);
						}
						footer .capsula .boxG .logo > div {
							font-size: clamp(1px, (7vw / 4.5) + 0.1em, 25px);
						}

			footer .capsula .legales {
				width: 100%;
				text-align: center;
				margin-top: 44px;
				padding-top: 32px;
				border-top: 2px solid;
				position: relative;
			}
				footer .capsula .legales a {
					text-decoration: none;
					color: var(--colorPrincipal);
				}
				.redesMain {
					display: flex;
					grid-gap: 36px;
				}
					.redesMain .svg-inline--fa {
						height: .8em;
					}
					#footerIconoCorreo .svg-inline--fa {
						height: 0.6em;
					}



















/* ==========================================================================
	Estilos para un espect ratio de 2:1
========================================================================== */
@media (min-aspect-ratio: 2/1) {
	
}

/* ==========================================================================
	Estilos para un espect ratio de 8:5
========================================================================== */
@media (min-aspect-ratio: 8/5) {
	
}






/* ==========================================================================
	Estilos para un especto de pie
========================================================================== */
@media screen and (orientation:portrait){
	:root{
		--margenGlobal: 8vw;
	}
	.onlyLanscape{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}


	
}
/* ==========================================================================
	Estilos para un especto de pie pero en dispositivos pequeños
========================================================================== */
@media screen and (orientation:portrait) and (max-width: 680px){
	
}







/* ==========================================================================
	Estilos para un especto de acostado
========================================================================== */
@media screen and (orientation:landscape){
	.onlyPortrait{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}	
}
/* ==========================================================================
	Estilos para un especto acostado pero en dispositivos medianos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 980px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 860px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 720px){
	
}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos muy chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-height: 460px){

}
















/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1600px) {

}









/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 1280px) {
	#pantalla1 .boxInfo {
		padding: 0px;
	}
}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1090px) {
	#servicios .capsula .reticula {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
		#servicios .capsula .reticula .tarjeta:nth-child(3) {
			grid-column: 1/4;
			grid-row: 3/4;
		}

	footer .capsula .boxG {
		grid-template-columns: 1fr 1fr;
	}
		footer .capsula .boxG .logo > div {
			font-size: clamp(1px, (12vw / 2) + 0.1em, 64px);
		}
}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 860px) {
	
}








/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 866px) {
	:root{
		--margenGlobal: 8vw;
	}

	#redesG {
		display: flex;
		justify-content: flex-end;
	}

	#pantalla1 .boxWrap {
		padding: calc(44px + 48px) 0px 44px
	}
	#pantalla1 .boxInfo {
		grid-gap: 3dvh;
		align-items: center;
	}
		#pantalla1 .fondo {
			height: 80vh;
		}
		#pantalla1 .intro {
			width: 100%;
			grid-gap: 20px;
			padding: 0vw 6vw;
		}
			#pantalla1 .intro h1 {
				margin-bottom: 0px;
				font-size: clamp(20px, 4vw + 1rem, 84px);
				color: var(--colorSecundario);
			}
			#pantalla1 .lista ul {
				line-height: 1.2;
				width: 100%;
				font-size: 90%;
			}
			#pantalla1 .graficas {
				flex-wrap: wrap;
				grid-gap: 14px;
			}
			#pantalla1 .graficas .grafica p {
				font-size: 76%;
			}
			#pantalla1 .intro button {
				width: 36px;
			}

	.textoT2 {
		font-size: 142%;
	}
	#caminoCorrecto #cajaFuerte {
		width: 100%;
		margin-top: -24px;
		z-index: -1;
	}
	#caminoCorrecto #cajaFuerte p {
		margin-top: -48px;
	}
	#caminoCorrecto .capsula > p:last-child {
		width: 74%;
		margin-top: 36px;
	}
	#caminoCorrecto .capsula .space {
		width: 70%;
	}

	#vendeMas .capsula .boxInfo {
		width: 100%;
		max-width: 100%;
		padding: 28px 28px;
	}
		#vendeMas .capsula .boxInfo > * {
			z-index: 2;
		}
		#vendeMas .capsula .boxImg figure picture img {
			width: 154%;
			height: auto;
		}
		#vendeMas .capsula .boxInfo .boton {
			width: 88%;
			padding: 9px 52px 9px 17px;
		}
			#vendeMas .capsula .boxInfo .boton::after {
				width: 52px;
			}

	#simple {
		padding-top: 0;
	}
		#simple .boxWrap {
			padding-left: 0;
		}
			#simple .capsula {
				flex-direction: column;
			}
				#simple .capsula > div {
					flex: 1 1 100%;
				}
				#simple .capsula > .col1 {
					width: 72%;
					max-width: 72%;
				}
				#simple .capsula > .col2 {
					width: 100%;
					max-width: 100%;
					grid-gap: 24px;
				}
					#simple .capsula > .col2 .tarjeta {
						grid-gap: 28px;
						padding: 13px 24px;
					}
						#simple .capsula > .col2 .tarjeta .valor {
							font-size: 266%;
							width: 58px;
						}

	#gMarcas {
		flex-wrap: wrap;
		grid-gap: 23px;
		justify-content: space-around;
	}
		#gMarcas .marca {
			flex: 1 1 40%;
			width: 40%;
			max-width: 40%;
		}

	#servicios h2 {
		width: 100%;
	}
	#servicios .capsula .reticula {
		display: flex;
		flex-direction: column;
	}

	#dudas .capsula {
		grid-gap: 32px;
	}

	#gastaMenos .capsula h2, #gastaMenos .capsula h3 {
		width: 100%;
	}
	#gastaMenos .capsula .boxG .boxTarjetas {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 32px 12px;
	}
		#gastaMenos .capsula .boxG .boxTarjetas .tarjeta {
			width: inherit;
			max-width: inherit;
			padding: 24px 16px;
			grid-gap: 18px;
		}
			#gastaMenos .capsula .boxG .boxTarjetas .tarjeta p {
				font-size: 66%;
			}
		#gastaMenos .capsula > p {
			width: 76%;
		}

	#carta h2 {
		width: 100%;
	}
		#carta .boxG {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0px;
		}
			#carta .boxG .tarjeta:nth-child(1) {
				display: none;
			}

	#despegar .capsula {
		flex-wrap: wrap;
	}
		#despegar .capsula .col1, #despegar .capsula .col2 {
			flex: 1 1 100%;
		}

	footer .boxWrap {
		padding: calc(64px + 2vh) 0px 54px;
	}
		footer .fondo {
			width: 100%;
			top: 0px;
		}
			footer .fondo figure picture {
				display: flex;
				justify-content: center;
			}
				footer .fondo figure picture img {
					width: 138%;
					height: 138%;
				}
		footer .capsula .boxG {
			grid-template-columns: 1fr;
		}
		footer .capsula .boxG .logo > div {
			font-size: clamp(1px, (12vw / 1) + 0.1em, 64px);
		}

}






@media only screen and (max-width: 760px){
	.onlyDesktop{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
}
@media only screen and (min-width: 760px){
	.onlyMobile{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 680px) {
	
}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 590px) {
	
}





/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 430px) {
	#servicios .capsula .reticula .tarjeta .box h3 {
		font-size: clamp(15px, 8vw, 22px);
	}
}










/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 319px) {
	#vendeMas .capsula .boxInfo .boton {
		width: 100%;
		padding: 9px 17px;
	}
		#vendeMas .capsula .boxInfo .boton:after {
			display: none;
		}

	#simple .capsula > .col1 {
		width: 100%;
		max-width: 100%;
	}
	#simple .capsula > .col2 .tarjeta {
		flex-direction: column;
	}
		#simple .capsula > .col2 .info {
			text-align: center;
		}

	#gMarcas {
		width: 100%;
	}
		#gMarcas .marca {
			flex: 1 1 100%;
			width: 100%;
			max-width: 100%;
		}

	#servicios .capsula .reticula .tarjeta .fondo figure picture img {
		right: inherit;
	}
	#servicios .capsula .reticula .tarjeta:nth-child(1) .box p, #servicios .capsula .reticula .tarjeta:nth-child(5) .box p {
		width: 100%;
	}
	#servicios .capsula .reticula .tarjeta:nth-child(1) .box .boxBoton, #servicios .capsula .reticula .tarjeta:nth-child(5) .box .boxBoton {
		position: relative;
		bottom: inherit;
		right: inherit;
		margin-top: 24px;
	}
	#servicios .capsula .reticula .tarjeta:nth-child(1) .box h3, #servicios .capsula .reticula .tarjeta:nth-child(5) .box h3 {
		width: 100%;
	}
	

	#dudas .capsula {
		flex-direction: column;
	}
	#gastaMenos .capsula .boxG .boxTarjetas {
		grid-template-columns: 1fr;
	}

	.redesMain {
		flex-wrap: wrap;
		justify-content: center;
	}

}










